<h1> 약정 공유 하기 페이지 </h1>
<p>Find me in app/views/contract/create.html.erb</p>

<!-- 약정 정보 -->
<p>청원 이름: <%= @propose.share %></p>
<p>약정 내용: <%= @contract.content %></p>
<p>약정자 이름: <%= @writer.real_name %>
<p>약정 금액: <%= @contract.contract_money %></p>

<div>
공유하기 버튼
</div>
<hr>
<a href="/propose/<%= @propose.id %>"> 청원 상세 페이지로 돌아가기 </a>
<!-- Share Cover -->
<section class="share_cover">
  <h2 class="fund_title">"경력단절 여성의 채용을 늘려주세요."</h2>
  <p class="propose_text mb-1 mb-lg-3">나 <span class="user_nickname">지녕</span>는 이러한 내용의 <span class="mobile_text mt-1">입법을 추진하는 의원에게 의정활동비를 후원하여,</span></p>
  <p class="propose_text mb-4 mb-lg-5">이제는 내 삶을 바꾸기 위해 강력히 행동하겠습니다.</p>
  <p class="propose_text mb-1 mb-lg-3">펀딩 마감 후 투표를 통해 선정한 의원에게 </p>
  <p class="propose_text mb-1 mg-lg-5d-flex justify-content-center">
    <span class="font-weight-bold">\ 10,000원</span>
    을 후원하겠습니다.
  </p>
</section>
<!-- //Share Cover -->
<!-- Share Content -->
<section class="share_content">
  <div class="share_icons d-flex flex-row py-5">
    <img src="assets/images/facebook.png" alt="" class="share_icon">
    <img src="assets/images/kakao.png" alt="" class="share_icon">
  </div>
  <p class="propose_text mb-3">남은 펀딩기간은 00일 입니다.</p>
  <p class="propose_text mb-3">입법 1건당 드는 비용의 평균인 <span class="mobile_text mt-3 mt-lg-0">1,000만원을 달성하면 펀딩 성공입니다.</span></p>
  <p class="propose_text mb-3">펀딩 성공까지 남은 금액은 <span class="money">0,000,000원</span>입니다.</p>
  <a href="#" class="fund_link my-4">나도 새로운 펀딩 약정서 쓰러가기</a>
  <img src="assets/images/group.png" alt="" class="process ml-lg-5">
</section>
<!-- //Share Content -->
