<h1>약정 하는 페이지</h1>
<p>Find me in app/views/contract/new.html.erb</p>

<%= form_tag("/contract/create/#{ @propose.id }", method: "post") do %>
	<p>작성자 이름: <%= current_vuser.name %> </p>
    <p>약정하는 청원제목: <%= @propose.title %></p>
   
	<div class="contract_content">
		<!-- 약정 내용 입력 -->
		~~~~~~ 약정 내용 ~~~~~~~
	</div>

	<!-- 요구하는 내용-->
	<%= text_field_tag 'content', '', placeholder: "요구하실 내용을 적으세요" %>
	<!-- 약정 금액 입력 -->
	<%= number_field_tag 'contract_money', 10000, placeholder: "약정하실 금액을 입력해주세요" %>

	<!-- 제출 -->
	<%= submit_tag("propose_create") %>
<% end %>
