<!-- Share Cover -->
<section class="share_cover" style="background-image: url(/assets/images/share_bg.png);">
<h2 class="fund_title">"<%= @propose.title %>"</h2>
<p class="propose_text mb-3">나 <span class="user_nickname"><%= @writer.name %></span>는 위와 같은 내용의 입법을 추진하는 의원에게 의정활동비를 후원하여,</p>
  <p class="propose_text mb-3">이제는 내 삶을 바꾸기 위해 강력히 행동하겠습니다.</p><br /><br />
  <p class="propose_text mb-3">펀딩 마감 후 투표를 통해 선정한 의원에게 </p>
  <p class="propose_text mb-3 d-flex justify-content-center">
    <span class="font-weight-bold">\ <%= @contract.contract_money %>원</span>
    을 후원하겠습니다.
  </p>
</section>
<!-- //Share Cover -->
<!-- Share Content -->
<section class="share_content">
  <div class="share_icons d-flex flex-row py-5">
    <div class="d-block">
      <%=image_tag("/assets/images/facebook.png", class: "d-block mx-auto mb-2 share_icon")%>
    	<% if current_vuser != nil and current_vuser.id == @writer.id %>
    	<iframe src="https://www.facebook.com/plugins/share_button.php?href=https://2jung.com%2fcontract%2f<%= params[:id]%>&layout=button_count&size=large&mobile_iframe=true&appid=1014670008686658&width=113&height=28" width="113" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    	<% end %>
    </div>
    <%=image_tag("/assets/images/kakao.png", class: "share_icon")%>
  </div>
  <p class="propose_text mb-3">남은 펀딩기간은 <%= ((@propose.deadlines - Time.now)/(60*60*24) + 1).to_i%>일 입니다.</p>
  <p class="propose_text mb-3">입법 1건당 드는 비용의 평균인 1,000만원을 달성하면 펀딩 성공입니다.</p>
  <p class="propose_text mb-3">펀딩 성공까지 남은 금액은 <span class="money"><%= 10000000 - @propose.funded_money %></span>입니다.</p>
  <p class="propose_text mb-3">지금 바로, <span class="share_ment">널리 공유해 펀딩 성공</span>에 한 발짝 가까워지세요!</p>
    <a href="/propose/<%= @propose.id%>" class="fund_link my-4">펀딩 페이지 보러 가기</a>
    <%=image_tag("/assets/images/group.png", class: "process ml-5")%>
</section>
<!-- //Share Content -->
