<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
	  이메일을 입력하세요
	  <%#= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
     이름(실명)을 입력하세요
     <%#= f.label :name %><br />
     <%= f.text_field :real_name, class: 'form-control' %>
  </div>
  <div class="form-group">
     닉네임을 입력하세요.
  <%= f.text_field :name, class: 'form-control' %>
  </div> 


  <div class="birth-form">
	  생년월일 입력하세요,
  <div class="form-group">
	  <%= f.number_field :birth_year%>
  </div>  
<div class="form-group">
<%= f.number_field :birth_month%>

</div>  
<div class="form-group">
<%= f.number_field :birth_day%>

  </div>  
  </div>
  <div class="form-group">
     자신이 살는 주소지 정보를 입력하세요 ( 주소 찾기 API 붙여도 좋을듯) 
     <%#= f.label :address %><br />
     <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class= "form-froup">
     우편번호를 입력하세요. <br>
	 <%= f.text_field :address_num, class: 'form-control'%>
  </div>
  <div class="form-group">
     자신이 주로쓰는 계좌번호를 입력하세요. 
     <%= f.text_field :account, class: 'form-control' %>
  </div>
  <div class="form-group">
     계좌의 은행을 입력하세요.
	 <%= f.text_field :account_assos, class: 'form-control'%>
  </div>
  <div class="form-group">
	  자신의 휴대전화 번호를 정확히 입력해주세요.
	  <br> ( ex, 010-1234-5678 )
	 <%= f.text_field :phone_number, class: 'form-control'%>
  </div>

  <div class="field">
    <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%#= f.password_field :password, autocomplete: "off" %>
    <%# if @minimum_password_length %>
      <br />
      <em><%#= @minimum_password_length %> characters minimum</em>
    <%# end %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%#= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
