<!-- Cover -->
<section class="cover">
  <!-- 영상 들어갈 부분-->
</section>
<!-- //Cover -->

<!-- New 제안하기-->
<section class="new">
  <h2 class="sr-only">제안하기</h2>
  <div class="container mx-0">
    <div class="row">
      <div class="col-2 col-lg-3 new_logo">
				<!--청원 제안하기  -->
				<a href="/propose/new">
					<%=image_tag("/assets//images/shape.png", class: "mic_icon")%>
				</a>
      </div>
      <div class="col-8 col-lg-5 new_textbox px-0">
        	<p id="mention" class="new_text"></p>
      </div>
      <div class="visible-lg col-lg-4 new_textbox px-0">
        <ul class="nav align-items-end justify-content-end h-100 w-100">
          <li class="nav-item px-0 py-0">
            <a class="nav-link active" href="https://2jung.com?order=hot">인기순</a>
          </li>
          <li class="nav-item px-0 py-0">
            <a class="nav-link" href="https://2jung.com?order=new">최신순</a>
          </li>
          <li class="nav-item px-0 py-0">
            <a class="nav-link" href="https://2jung.com?order=deadl">마감임박순</a>
          </li>
          <li class="nav-item px-0 py-0">
            <a class="nav-link" href="https://2jung.com?order=voting">의원투표진행중</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- //New -->

<!-- List -->
<section class="funding_list">
  <div class="container">
    <div class="row">
			<% @proposes.each do |propose| %>
	      <div id="funding_card" class="col-12 col-lg-6 px-0 funding_card_box" style="background-image: url(<%= propose.image.url %>)">
	        <div class="funding_card d-flex flex-column h-100 w-100">
	          <a href="/propose/<%= propose.id %>">
	            <h4 class="funding_title text-white"><%= propose.title %></h4>
	            <div class="funding_card_info h-100">
								<p class="funding_days text-white text-right"><%= propose.status %></p>
								<% if (propose.status == "펀딩진행중" or propose.status == "펀딩 마감 하루전" or propose.status == "펀딩 마감 이틀전") and propose.deadlines != nil %>
              	<p class="funding_days text-white text-right">
									<span class="funding_d_day text-white"><%= ((propose.deadlines - Time.now)/(60*60*24) + 1).to_i %></span>일 남음
								</p>
								<% end %>
	              <p class="funding_money text-white text-right">&#8361;<%= propose.funded_money %></p>
	            </div>
	          </a>
	        </div>
	      </div>
			<% end %>
    </div>
  </div>
</section>
<!--//List  -->
<!-- typewriter js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
<!-- Typewriter -->
<script type="text/javascript" >
  var app = document.getElementById('mention');

  var typewriter = new Typewriter(app, {
    loop: true
  });

  typewriter.typeString('겪고 있는 문제가 있나요?\n')
    .pauseFor(1000)
    .typeString('지금 바로 말해주세요. 당신의 투정.')
    .pauseFor(2500)
    .start();
</script>
<!-- //TypeWriter -->
