<h1># Mypage</h1>

<h2> 회원 정보 </h2>
이름 : <%= @user.name %><br>
이메일: <%= @user.email %><br>
주소: <%= @user.address %><br>
생년월일: <%= @user.birth_year %> / <%= @user.birth_month %> / <%= @user.birth_day %><br>
연락처: <%= @user.phone_number %><br>
계좌번호: <%= @user.account %><br>
계좌은행: <%= @user.account_assos%><br>

<h2> 주문한 상품 조회 </h2>
구현중


