<% status = @result["propose"]["object"].status %>
<% remain_time = (((@result["propose"]["object"].deadlines)-(Time.now)).to_i)/86400.to_i%>
<!-- 펀딩 현황 -->
<% if ["펀딩진행중", "펀딩 마감 하루전", "펀딩 마감 이틀전"].include?(status)%>
<% elsif status == "매칭진행중" %>
<% elsif status == "입법진행중"%>
	<!-- <p> 매칭이 완료되어 입법 과정이 진행중입니다. </p>
	<p> 최종 매칭의원은:
	<% @result["seller"]["objects"].each do |seller| %>
	매칭의원이름:<%= @result["seller"][seller.id]["user_object"].name %>
	<% end%> </p>

	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p> -->
<% elsif status == "법안심사" %>
	<!-- <p> 법안 심사중입니다. </p>

	<% @result["seller"]["objects"].each do |seller| %>
 	  매칭의원이름:<%= @result["seller"][seller.id]["user_object"].name %>
	<% end%> </p>

	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p> -->
<% end %>

<!-- 의원용 로직 -->
<% if current_vuser != nil and current_vuser.category == "국회의원" and status == "매칭진행중" %>
	<p>후보자 등록하기</p>
	<a href="/candidate/new/<%= @result["propose"]["object"].id %>"> 후보자 등록 페이지 이동 </a>
<% end %>

<!-- 후보자 정보 및 투표 -->
<% if status == "매칭진행중" %>
	<% num = 1%>
	<% @result["candidate"]["objects"].each do |candidate| %>
		<hr>
		<p>후보자 번호: <%= num %></p>
		<% num += 1 %>
		<p>후보자 이름: <%= @result["candidate"][candidate.id]["user_object"].name %> </p>
		<p>후보자 득표수: <div id="c<%= candidate.id%>"><%= candidate.vote_num %></div> </p>
		<div> 후보자 정보 및 소개 </div><br>
		<p> 후보자 한줄소개: <%= candidate.intro %> </p>
		<% if @result["current_vuser_vote_candidate_id"] == -1  %>
			<div class="vote_button"  onclick="vote( <%= candidate.id %> );">
				<%= link_to 'Vote', vote_create_path( :id => candidate.id ), method: :post, remote: true%>
			</div>
		<% elsif @result["current_vuser_vote_candidate_id"] == -100 %>
			로그인 하시면 투표하실수있습니다.
		<% elsif @result["current_vuser_vote_candidate_id"] == candidate.id %>
			내가 투표한 의원 입니다.
		<% elsif  @result["current_vuser_vote_candidate_id"] > 0  %>
            Already Vote
		<% end %>
	<% end %>

<% end %>



<!-- Funding Detail Cover Desktop-->
<section id="detail_cover" class="funding_detail_cover d-flex flex-column justify-content-around align-items-center visible-lg" style="background-image: url(<%= @result["propose"]["object"].image.url %>);">
	<h2 class="detail_title text-white font-20 font-sm-18 font-weight-bold "><%= @result["propose"]["object"].title %></h2>
	<p class="detail_category text-white font-sm-12 font-weight-bold">과학기술</p>
	<%=image_tag("/assets/images/group-4-1.png", class: "detail_img")%>
	<div class="detail_info d-flex w-100 px-3 px-lg-5 justify-content-between">
		<p class="text-white font-14 font-sm-10 font-weight-bold">남은 기간 <span class="font-20 font-sm-16 font-weight-bold"><%=remain_time%></span>일</p>
		<p class="text-white font-20 font-sm-16 font-weight-bold detail_money"><%= @result["propose"]["object"].funded_money%></p>
		<p class="text-white font-14 font-sm-10 font-weight-bold"><span class="font-20 font-sm-16 font-weight-bold"><%= @result["propose"]["object"].funded_num %></span>명</p>
	</div>
</section>
<!-- //Funding Detail Cover Desktop-->
<!-- Funding Detail Cover Mobile -->
<section id="detail_mobile_cover" class="detail_mobile_cover visible-xs-block" style="background-image: url(<%= @result["propose"]["object"].image.url %>);">
	<h2 class="detail_title font-sm-18 font-weight-bold text-white px-3 py-3 mb-5"><%= @result["propose"]["object"].title %></h2>
	<p class="detail_day text-right pr-3 mb-0 font-12 text-white font-weight-bold"><span class="font-18"><%=remain_time%></span>일 남음</p>
	<p class="detail_number text-right pr-3 mb-0 font-12 text-white font-weight-bold"><span class="font-18"><%= @result["propose"]["object"].funded_num %></span>명</p>
	<div class="d-flex justify-content-between">
		<p class="detail_category font-weight-bold text-white font-10 pl-3 mt-2">과학기술</p>
		<p id="fund_money" class="detail_money font-weight-bold text-white font-18 pr-3">&#8361;<%= @result["propose"]["object"].funded_money%></p>
	</div>
</section>
<!-- //Funding Detail Cover Mobile -->
<!-- Funding Detail Content -->
<section class="funding_detail_content py-4 d-flex flex-column justify-content-center align-items-center">
	<%=image_tag("/assets/images/group_mobile_1.png", class: "visible-xs w-100")%>
	<p class="detail_content pt-4 pt-lg-0 pb-3 pb-lg-5 font-grey font-sm-12"><%= @result["propose"]["object"].content %></p>
	<div class="buttons d-flex w-100 justify-content-around px-4 px-lg-0">
		<!-- 약정하기 버튼-->
		<% if status.include? "펀딩" and current_vuser != nil %>
			<%= form_tag("/contract/new/#{ @result["propose"]["object"].id }", method: "get", class:"w-sm-100") do %>
				<%= submit_tag("펀딩약정서 쓰기", :class => "btn btn-white font-14 font-sm-10 w-sm-120p") %>
			<% end %>
		<% elsif current_vuser == nil %>
			<a href="/vusers/sign_in" class="btn btn-white font-14 font-sm-10">로그인하기</a>
		<% end %>
		<div>
    	<% if current_vuser != nil and current_vuser.id == @writer.id %>
    	<iframe src="https://www.facebook.com/plugins/share_button.php?href=https://2jung.com%2fcontract%2f<%= params[:id]%>&layout=button_count&size=large&mobile_iframe=true&appid=1014670008686658&width=113&height=28" width="113" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    	<% end %>
    </div>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">Facebook</a>
			<a class="dropdown-item" href="#">Kakao</a>
		</div>
	</div>
</section>

<!-- Detail funding2 Community -->
<section class="detail_menu pb-5">
  <nav class="nav justify-content-around border-bottom px-3 px-lg-5 mb-4 mb-lg-5">
    <a class="nav-link active py-4 font-weight-bold font-sm-12" href="#">커뮤니티</a>
    <a class="nav-link py-4 font-sm-12" href="#">압력넣기</a>
    <a class="nav-link py-4 font-sm-12" href="#">명예의전당</a>
  </nav>
  <div class="post text-center">
    <h2 class="post_title font-18 font-sm-12 font-grey font-weight-bold mb-3 mb-lg-3"><%= @comu.title %></h2>
    <p class="post_by font-14 font-sm-10 font-grey mb-4 mb-lg-5">by <%=@writer.name%></p>
		<img src="<%= @comu.image.url %>" alt="" class="w-100 post_img">
    <!-- <img src="assets/images/postimg.png" alt="" class="post_img"> -->
    <p class="post_text font-14 font-sm-10 font-grey my-3 my-lg-5"><%= @comu.content %></p>
		<!-- 커뮤니티 하트 누르기 -->
		  <% if @ishearton == false and current_vuser != nil%>
				<div class="chart_button"  onclick="chearton(<%= @comu.id %>, 1);" id="comu<%= @comu.id %>" >
					<a id="cheart_link<%=@comu.id%>" data-remote="true" rel="nofollow" data-method="get" href="/community/cheart/<%=@comu.id%>">
						<i class="far fa-heart"></i>
					</a>
					<!-- <%= link_to cheart_path( :id => @comu.id ), method: :post, remote: true, id: "cheart_link#{ @comu.id }" do%>
					<i class="far fa-heart"></i>
					<%end%> -->
				</div>
		  <% elsif @ishearton == true %>
		  	<div class="chart_button"  onclick="chearton(<%= @comu.id %>, 0);" id="comu<%= @comu.id %>" >
					<a id="cheart_link<%=@comu.id%>" data-remote="true" rel="nofollow" data-method="get" href="/community/cheart/<%=@comu.id%>">
						<i class="fas fa-heart"></i>
					</a>
			   <!-- <%= link_to image_tag('/assets/images/heart_black.png', class: "post_img"), cheart_path( :id => @comu.id ), method: :post, remote: true, id: "cheart_link#{ @comu.id }" %> -->
				 <!-- <form action="/community/cheart/<%=@comu.id%>" method="post" data-remote="true" rel="nofollow">
					 <button><i class="far fas-heart"></i></button>
				 </form> -->
			 	</div>
		  <% else %>
				<p class="">로그인하십시오</p>
		  <% end %>
			<!-- <%=image_tag('/assets/images/heart.png', class: "post_img")%> -->

		<script>
		      function chearton(cid, option){
				  if ((document.getElementById('cheart_link'+ cid).innerHTML == "<i class='far fa-heart'></i>") == true){
		                document.getElementById('cheart_link'+ cid).innerHTML = "<i class='fas fa-heart'></i>"
				  }else{
		             document.getElementById('cheart_link'+ cid).innerHTML = "<i class='far fa-heart'></i>"
				   }
			   }
		</script>
    <!-- <img src="assets/images/heart.png" alt="" class="post_heart"> -->
    <a href="/propose/<%=@propose.id%>" class="back font-grey font-14 font-sm-10 mt-4 mb-5 my-lg-5">&lt;이전으로 돌아가기</a>
		<%= form_tag("/community/#{ params[:id].to_i }/post", method: "post", class: "w-100 px-0" ) do %>
	    <div class="form-group">
				<%= text_area_tag 'cpost_content', "", class: "form-control", id: "exampleFormControlTextarea1", rows: 3 %>
	    </div>
			<%= submit_tag("댓글달기", class: "btn btn-primary mr-0 font-sm-12 px-2 py-2") %>
		<% end %>
    <div class="comments font-14 font-sm-10 mt-4">
			<% @cposts.each do |cpost|%>
	      <div class="comment border-bottom-c mb-3">
	        <p class="nickname font-grey text-left"><%= @dict_comu_user[cpost.user_id].name %><img src="assets/images/crown.png" alt="" class="crown"></p>
	        <p class="comment_text font-grey text-left pl-3"><%= cpost.content %></p>
	      </div>
			<% end %>
    </div>
  </div>
</section>
<!-- //Detail funding2 Commnnity -->

<!-- Layer -->
<script type="text/javascript">
	var proposeNum=$(location)[0].href.split("/")[4]%6
	if (proposeNum ==1){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
	}
	else if (proposeNum == 2){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
	}
	else if (proposeNum == 3){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
	}
	else if (proposeNum == 4){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
	}
	else if (proposeNum == 5){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
	}
	else{
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(<%= @result["propose"]["object"].image.url %>)');
	}
</script>
<!-- //Layer -->
<!-- Comma -->
<script>
	function comma(str) {
	    str = String(str);
	    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}
	var money=$(".detail_money")[0].innerHTML;
	var newMoney=comma(money);
	$(".detail_money").html('&#8361;'+newMoney);
</script>
<!-- 사진파일명 업로드 -->
<script>
	function filename_change(obj){
		var file_name=obj.files[0].name;
		document.getElementById('image_label').innerHTML=file_name;
	}
</script>
