<h1> 의원 회원 가입 페이지 </h1>
<p>Find me in app/views/regist/new.html.erb</p>


<%= form_tag("/regist/create", method: "post") do %>
	<%= text_field_tag 'special_code', '', placeholder: '메일로 보내드린 인증번호를 입력하세요'%>
	<%= text_field_tag 'email', '', placeholder: '사용하실 이메일을 입력하세요'%>
	<%= password_field_tag 'password', '', placeholder: '사용하실 비밀번호를 입력하세요' %>
	<%= submit_tag("propose_create") %>
<% end %>
