<h1> Header </h1>
<div class="product_header">
상품 페이지의 맨윗부분 
<div class="product_detail_main_image">
   메인 이미지 부분
   <%= @vproduct.main_image_link%>
</div>

<div class="product_detail_title">
	제목 부분
	<%= @vproduct.title %>
	<%#= @bill.title %>
</div>

<div class="product_detail_prices">
   가격 부분
   <%= @vproduct.price %>
   <%= @vproduct.fake_price%>
</div>

<div class="product_intro"> 
   상품 intro 부분
</div>

<div class="product_total_price">
   모인금액
   <%= @vproduct.total_buy %>
   0%
</div>

<div class="product_deadline">
   남은 날짜
</div>


<% if (current_vuser.blank?) == false %> 
    <%= render 'product/buycartform' %>
<% else %>
  <h2> 로그인 하시면 상품을 구매할수있습니다. </h2>
<% end %>


<div class="product_share">
   공유하기 버튼
</div>
</div>


