<h1> 구매 페이지 입니다 !! </h1>

<div class="form_buy">
<%= form_tag("/product/buyok", method: "post") do %>
   개발중 입니다. <br>     
   <hr>
   상품이름 : <%= @product.title %><br>
   상품 id  : <%= @product.id %> / <%= @package.product_id %><br>
   현재 선택하신 구매정보는 다음과 같습니다. <br> 
   <hr> 
	<%= hidden_field_tag 'product_id', @product.id %>
     <div onkeyup="findTotal();findHoo();calculateFinal();">
        후원금 추가 금액: <%= text_field_tag "hoo", @hoo %><br>
	 </div>

	 <div class="package_info">
   <% packages = [ [@package.name, @package.id] ] %>
   <% @packages.each do |package| %>
	    <% if package.id == @package.id %>
				<% next %>
		<% end %>
		<% packages.push([ package.name , package.id ])%>
	<% end %>

	 <div onchange="findPackagePrice();findTotal();calculateFinal();">
		<%= select_tag(:package_id, options_for_select(packages ), )%></div>
	 </div>
   
	 패키지 id: <div id="current_package_id"> <%= @package.id %> </div><br>
	 패키지 이름: <div id="current_package_name"><%= @package.name  %> </div><br>
	 패키지 (1개당)가격: <div id="current_package_price"><%= @package.price %>  <br></div>   
       <div onkeyup="findTotal();findPackage_num()calculateFinal();">
   구매하는 해당 패키지 개수: <%= text_field_tag "package_num", @package_num %> <br>
      </div>
   </div>

   <hr>
   현재 선택하신 상품의 판매자 정보는 다음과 같습니다 <br>
   <%#= @seller %>
   판매자 이름: <%= @seller.name %><br>
   판매자 계좌: <%= @seller.account %><br>
   판매자 계좌은행: <%= @seller.account_assos %><br>
   <%#= @person %>
   <hr>
    주문자 정보 입니다. <br>

	주문자(입금자 이름) 이름: <%= text_field_tag "user_name", @user.name %><br>
	주소지 정보: <%= text_field_tag "user_address", @user.address %><br>
	주문자 계좌: <%= text_field_tag "user_account", @user.account %>
    주문자 계좌 은행: <%= text_field_tag "user_account_assos", @user.account_assos%>
	우편번호: <%= number_field_tag "user_address_num", @user.address_num %><br>
	연락처 정보: <%= text_field_tag "user_phone_number", @user.phone_number %><br>
	이메일 정보: <%= email_field_tag "user_email", @user.email %> <br>
    
	<hr>

	<% if @package.name != "선택안함" %>
	배송지 정보를 입력하세요.  <br><br>
    배송 받는 사람 이름: <%= text_field_tag "baesong_name", @user.name %><br>
	배송 받는 주소 정보: <%= text_field_tag "baesong_address", @user.address %><br>
	우편번호: <%= number_field_tag "baesong_address_num", @user.address_num %><br>
	연락처 정보: <%= text_field_tag "baesong_contact", @user.phone_number %><br>
<% end %>

   <hr>
       <%= @package.price %>(=패키지 1개당 가격) X <div id="ppackage_num"><%= @package_num %></div>(=선택한 패키지 개수) + <div id="phoo"><%= @hoo %></div>(=후원금 추가 금액) 
   <hr>
   
   총 금액은 <br>
    <div id="total"> 
		<%= @package.price*@package_num +@hoo %>
	</div>
	입니다.

   <div>
      사용할 쿠폰.<br>
		   <% coupons = [ ["선택안함", -1] ] %>
		   <% @coupons.each do |coupon| %>
				<% coupons.push([ coupon.name , coupon.id ])%>
			<% end %>

			<div onchange="findCoupon();calculateFinal();"> <!-- <onchange="findPackagePrice();"> -->
				<%= select_tag(:coupon_id, options_for_select(coupons))%>
			</div>
   </div>
		<div>
		   <div> 선택한 쿠폰의 정보 </div><br>
		   쿠폰의 이름은: <br>
		   <div id="coupon_name">
			   선택된 쿠폰 정보 없음
		   </div><br>
			<br>
			
			쿠폰의 남은 금액은: <br>
		   <div id="coupon_remain">
			   선택된 쿠폰 정보 없음
		   </div><br>
		</div>
		   <div onkeyup="checkMax();afterCoupon();calculateFinal();">
			   사용할 금액은 얼마인가요?<br>
			   <!-- js 로 맥스값을 조정하자. -->
				
               <%= number_field_tag 'coupon_use', "0", max: 100000 %>
			   <p> 사용후 쿠폰의 잔여액은 ~~ </p>
			   <div id="coupon_after">
			   </div>
		   </div>
   </div>
   <hr> 
   <div class="final_pay">
	   결제해야하는 금액은: <br>
   	<div id="final_pay">
<%= @package.price*@package_num +@hoo %>
	</div>

   </div>
   결제 방식은 무통장 입금입니다 <br>
   <hr>
   <%= submit_tag("buy_single") %>
<% end %>
</div>

<script type="text/javascript"> 

function findPackagePrice(){
	   var package_id = document.getElementById('package_id').value;
	   var package_index = <%= @package_index %>
	   var package_price = <%= @package_price %>

       var id = package_index.findIndex(function(elem){ return elem == package_id });
	   var package_num = document.getElementById('package_num').value;
	   var hoo = parseInt(document.getElementById('hoo').value);
       var package_name = ""
	 <% packages = [ [@package.name, @package.id] ] %>
   <% @packages.each do |package| %>
	    <% if package.id == @package.id %>
				<% next %>
		<% end %>
		<% packages.push([ package.name , package.id ])%>
	<% end %>

	   var pack_id = -1
	   <% packages.each do |pack|%>
	   pack_id = <%= pack[1] %>
	   if(parseInt(pack_id) == parseInt(package_id)){
		   package_name = "<%= pack[0]%>"
	   }
	   <% end %>
	   console.log(id);
	   console.log(package_index);
	   console.log(package_price);
	   console.log(package_price[id]);

	   document.getElementById('current_package_id').innerHTML = package_id;
	   document.getElementById('current_package_name').innerHTML = package_name;
	   document.getElementById('current_package_price').innerHTML = package_price[id];
}
   
function findTotal(){
	 var package_num = parseInt(document.getElementById('package_num').value);
	 var hoo = parseInt(document.getElementById('hoo').value);
	 console.log(package_num);

	 document.getElementById('total').innerHTML = parseInt(package_num) * parseInt(document.getElementById('current_package_price').innerHTML) + parseInt(hoo);
 }

function findPackage_num(){
    var package_num = parseInt(document.getElementById('package_num').value);
    document.getElementById('ppackage_num').innerHTML = package_num
 }

function findHoo(){
	 var hoo = parseInt(document.getElementById('hoo').value);
	 document.getElementById('phoo').innerHTML = hoo;
 }

function findCoupon(){
	var coupon_id = parseInt(document.getElementById('coupon_id').value);
	
	if(coupon_id == -1){
		document.getElementById('coupon_use').value = "0";
		document.getElementById('coupon_remain').value = "0";
		document.getElementById('coupon_name').innerHTML = "선택안함";
		return
	}

	var coupon_index_list =  <%= @coupon_index %>;
	var coupon_idx = coupon_index_list.findIndex(function(elem){ return coupon_id == elem });
	
	var coupon_price_list = <%= escape_javascript @coupon_price.to_json %>;
	var coupon_price = coupon_price_list[coupon_idx];
	var coupon_name_list = [ ]
		
	<% @coupon_name.each do |cou|%>
		coupon_name_list.push("<%= cou %>")
	<% end %>

	var coupon_name = coupon_name_list[coupon_idx];

	var total_amount = document.getElementById('total').innerHTML;
	console.log(total_amount);

	document.getElementById('coupon_name').innerHTML = coupon_name;
	document.getElementById('coupon_remain').innerHTML = coupon_price;
	document.getElementById('coupon_use').value = '1000';

	if(parseInt(total_amount) >= parseInt(coupon_price)){ 
		document.getElementById('coupon_use').max = parseInt(coupon_price);
		document.getElementById('coupon_use').value = coupon_price;
	}else{
		document.getElementById('coupon_use').max = parseInt(total_amount);
		document.getElementById('coupon_use').value = parseInt(total_amount);
	}
}
function checkMax(){
	var maxval = parseInt(document.getElementById('coupon_use').max);
	var curval = parseInt(document.getElementById('coupon_use').value);
	var coupon_id = parseInt(document.getElementById('coupon_id').value);
	
	if(coupon_id == -1){
		document.getElementById('coupon_use').value = 0;
		return
	}


	if(maxval < curval){
		document.getElementById('coupon_use').value = maxval;
	}
}
function afterCoupon(){
	var coupon_before = parseInt(document.getElementById('coupon_remain').innerHTML);
	var coupon_use = parseInt(document.getElementById('coupon_use').value);
	var coupon_id = parseInt(document.getElementById('coupon_id').value);
	
	if(coupon_id == -1){
		document.getElementById('coupon_after').innerHTML = ""
		return
	}


	document.getElementById('coupon_after').innerHTML = coupon_before - coupon_use;
}
function calculateFinal(){
	var coupon_use = parseInt(document.getElementById('coupon_use').value);
	var total_amount = parseInt(document.getElementById('total').innerHTML);
	var coupon_id = parseInt(document.getElementById('coupon_id').value);
	
	if(coupon_id == -1){
		document.getElementById('final_pay').innerHTML = total_amount;
		return;
	}


	document.getElementById('final_pay').innerHTML = total_amount - coupon_use;
}
</script>
