<h1> 구매 페이지 입니다 !! </h1>

<%#= params[:hoo]%>
<%#= params[:package]%>
<%#= params[:commit] %>

<div class="form_buy">
<%= form_tag("/product/buyok", method: "post") do %>
   개발중 입니다. <br>     
   <%# @packages = [ [ "첫번째 패키지", "first" ], [ "두번째 패키지", "second" ] , [ "세번째 패키지", "third" ] ]%>
   <%#= select_tag(:package, options_for_select(@packages ))%>
   
   <hr>
   상품이름 : <%= @product.title %><br>
   상품 id  : <%= @product.id %> / <%= @package.product_id %><br>
   현재 선택하신 구매정보는 다음과 같습니다. <br> 
   <hr> 
     <div onkeyup="findTotal();findHoo();">
        후원금 추가 금액: <%= text_field_tag "hoo", @hoo %><br>
	 </div>

   <div class="package_info">
   패키지 id: <%= @package.id %> 
   패키지 이름: <%= @package.name  %> <br>
   패키지 (1개당)가격: <%= @package.price %>  <br>
   
       <div onkeyup="findTotal();findPackage_num()">
   구매하는 해당 패키지 개수: <%= text_field_tag "package_num", @package_num %> <br>
      </div>
   </div>

   <hr>
   현재 선택하신 상품의 판매자 정보는 다음과 같습니다 <br>
   <%#= @seller %>
   판매자 이름: <%= @seller.name %><br>
   판매자 계좌: <%= @seller.account %><br>
   판매자 계좌은행: <%= @seller.account_assos %><br>
   <%#= @person %>
   <hr>
    주문자 정보 입니다. <br>
	
	주문자 이름: <%= text_field_tag "user_name", @user.name %><br>
	주소지 정보: <%= text_field_tag "user_address", @user.address %><br>
    우편번호: <%= number_field_tag "user_address_num", @user.address_num %><br>
	연락처 정보: <%= text_field_tag "user_phone_number", @user.phone_number %><br>
	이메일 정보: <%= email_field_tag "user_email", @user.email %> <br>

	<hr>
	<% if @package.name != "선택안함" %>
	배송지 정보를 입력하세요.  <br>
	또는 주문자 정보와 같은지 선택하세요.<br>
   <% end %>
   <hr>
   <%= @package.price %>(=패키지 1개당 가격) X <div id="ppackage_num"><%= @package_num %></div>(=선택한 패키지 개수) + <div id="phoo"><%= @hoo %></div>(=후원금 추가 금액) 
   <hr>
   
   총 금액은 <br>
    <div id="total"> 
		<%= @package.price*@package_num +@hoo %>
	</div>
   입니다.
   <hr> 
   결제 방식은 무통장 입금입니다 <br>
   <hr>
   <%= submit_tag("buy_single") %>
<% end %>
</div>

<script type="text/javascript"> 
 function findTotal(){
	 var package_num = parseInt(document.getElementById('package_num').value);
	 var hoo = parseInt(document.getElementById('hoo').value);
	 console.log(package_num)
	 document.getElementById('total').innerHTML = parseInt(package_num) * parseInt(<%= @package.price %>) + parseInt(hoo);
 }
 function findPackage_num(){
    var package_num = parseInt(document.getElementById('package_num').value);
    document.getElementById('ppackage_num').innerHTML = package_num
 }
 function findHoo(){
	 var hoo = parseInt(document.getElementById('hoo').value);
	 document.getElementById('phoo').innerHTML = hoo;
 }
</script>
