<h1>Product#list</h1>
<p>Find me in app/views/product/list.html.erb</p>

<%#= @vproducts %>

<div class="product_list">
   <% @vproducts.each do |vproduct| %> 
	   <% bill = @bills[vproduct.id] %>
	     <a href="/product/detail/<%= vproduct.id %>">
         <div class="product">
			 상품이름: <%= vproduct.title %><br>
			 법안이름: <%= bill.title %><br>
			 할인 가격: <%= vproduct.price %><br>
			 정가: <%=  vproduct.fake_price %><br>
			 상품이미지: <%= vproduct.main_image_link %><br>
		 </div>
		 </a>
   <% end %>
</div>

<%#= @bills%>
