<h2>Log in</h2>

<section class="sign">
  <div class="social_sign">
    <%= render "devise/shared/links" %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <%# if devise_mapping.rememberable? -%>
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me %>
    <%# end -%>
    <!-- <li><%#= link_to "with Facebook", vuser_facebook_omniauth_authorize_path(:facebook) %></li> -->
    <!-- a href="/vusers/auth/facebook"> FaceBook </a> -->
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</section>

<!-- ////////////////////////////////Front//////////////////////////// -->
<!-- Sign -->
<section class="sign">
  <img class="or_img" src="assets/images/or.png" alt="OR">
  <h3 class="sign_up_text sign_in_text">이메일로 로그인하기</h3>
  <form class="sign_in">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="이메일">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="비밀번호">
    </div>
    <div class="custom-control custom-checkbox d-flex">
      <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
      <label class="custom-control-label mb-3" for="customControlAutosizing">로그인 유지</label>
      <button type="submit" class="btn btn-primary sign_up_btn">로그인</button>
    </div>
    <div class="login_click">
      <a class="text-primary" href="#">회원가입하기</a>
      <span>|</span>
      <a class="text-primary" href="">비밀번호를 잊었다!</a>
    </div>
  </form>
</section>
<!-- //Sign -->
