<h1> 후보자 등록 페이지 </h1>
<p>Find me in app/views/candidate/new.html.erb</p>

<!-- 청원 정보-->
<h2> 청원 정보 </h2>
<p>청원제목: <%= @propose.title %></p>
<p>청원내용: <%= @propose.content %></p>

<!--후보자 정보-->
<p> 후보자 이름: <%= current_vuser.real_name %></p>

<!--후보자 등록 form-->
<%= form_tag("/candidate/create/#{ @propose.id }", method: "post") do %>
	<%= text_field_tag 'intro', "" , placeholder: "한줄 소개를 입력해주세요" %>
	<div> 체크박스로 공약 입력 받기 </div><br>
   <%= text_field_tag 'pledge1', "" ,placeholder: "공약을 입력해주세요." %>	
   <%= submit_tag("candidate_create") %>
<% end %>
