<!-- 청원 정보-->
<h2> 청원 정보 </h2>
<p>청원제목: <%= @result["propose"]["object"].title %></p>
<p>청원내용: <%= @result["propose"]["object"].content %></p>
<p>청원이미지:<img src="<%= @result["propose"]["object"].image.url %>"></p>

<!-- 공유 하기 버튼 -->
<div>
</div>

<!-- 약정하기 버튼-->
<% status = @result["propose"]["object"].status %>
<% if status.include? "펀딩" and current_vuser != nil %>
	<%= form_tag("/contract/new/#{ @result["propose"]["object"].id }", method: "get") do %>
		펀딩 약정서 쓰기
		<%= submit_tag("contract_new") %>
	<% end %>
<% elsif current_vuser == nil %>
   약정할려면 로그인 하세요.
<% end %>
 
<br>

<!-- 펀딩 현황 -->
<% if status == "펀딩진행중" %>
	<p> 현재 펀딩이 진행되고있습니다. </p>

	<p> 펀딩 생성일: <%= @result["propose"]["object"].created_at %>
	<p> 현재 시간: <%= Time.now %></p>
	<p> 마감 종료 일정: <%= @result["propose"]["object"].deadlines %> </p>

	<p> 현재 펀딩 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 현재 펀딩에 참여한 인원: <%= @result["propose"]["object"].funded_num %> </p>
<% elsif status == "펀딩 마감 하루전" %>
	<p> 현재 펀딩이 하루남았습니다.</p>

	<p> 펀딩 생성일: <%= @result["propose"]["object"].created_at %>
	<p> 현재 시간: <%= Time.now %></p>
	<p> 마감 종료 일정: <%=  @result["propose"]["object"].deadlines %> </p>

	<p> 현재 펀딩 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 현재 펀딩에 참여한 인원: <%=  @result["propose"]["object"].funded_num %> </p>
<% elsif status == "편딩 마감 이틀전" %>
	<p> 현재 펀딩이 이틀남았습니다.</p>
	<p> 펀딩 생성일: <%= @result["propose"]["object"].created_at %>
	<p> 현재 시간: <%= Time.now %></p>
	<p> 마감 종료 일정: <%=  @result["propose"]["object"].deadlines %> </p>

	<p> 현재 펀딩 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 현재 펀딩에 참여한 인원: <%=  @result["propose"]["object"].funded_num %> </p>
<% elsif status == "매칭진행중" %>
	<p> 매칭이 진행중입니다. </p>
	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p>
<% elsif status == "입법진행중"%>
	<p> 매칭이 완료되어 입법 과정이 진행중입니다. </p>
	<p> 최종 매칭의원은:  
	<% @result["seller"]["objects"].each do |seller| %> 
	매칭의원이름:<%= @result["seller"][seller.id]["user_object"].name %> 
	<% end%> </p>

	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p>
<% elsif status == "법안심사" %>
	<p> 법안 심사중입니다. </p>
    
	<% @result["seller"]["objects"].each do |seller| %> 
 	  매칭의원이름:<%= @result["seller"][seller.id]["user_object"].name %> 
	<% end%> </p>

	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p>
<% end %>

<!-- 의원용 로직 -->
<% if current_vuser != nil and current_vuser.category == "국회의원" and status == "매칭진행중" %>
	<p>후보자 등록하기</p>
	<a href="/candidate/new/<%= @result["propose"]["object"].id %>"> 후보자 등록 페이지 이동 </a>
<% end %>

<!-- 후보자 정보 및 투표 -->
<% if status == "매칭진행중" %>
	<% num = 1%>
	<% @result["candidate"]["objects"].each do |candidate| %> 
		<hr>
		<p>후보자 번호: <%= num %></p>
		<% num += 1 %>
		<p>후보자 이름: <%= @result["candidate"][candidate.id]["user_object"].name %> </p>
		<p>후보자 득표수: <div id="c<%= candidate.id%>"><%= candidate.vote_num %></div> </p>
		<div> 후보자 정보 및 소개 </div><br>
		<p> 후보자 한줄소개: <%= candidate.intro %> </p>
		<% if @result["current_vuser_vote_candidate_id"] == -1  %> 
			<div class="vote_button"  onclick="vote( <%= candidate.id %> );">
				<%= link_to 'Vote', vote_create_path( :id => candidate.id ), method: :post, remote: true%>
			</div>
		<% elsif @result["current_vuser_vote_candidate_id"] == -100 %>
			로그인 하시면 투표하실수있습니다.
		<% elsif @result["current_vuser_vote_candidate_id"] == candidate.id %>
			내가 투표한 의원 입니다.
		<% elsif  @result["current_vuser_vote_candidate_id"] > 0  %>
            Already Vote
		<% end %>
	<% end %>

   	<script>
       function vote(cid){
		Array.prototype.forEach.call(document.getElementsByClassName('vote_button'), function(el) {
    		// Do stuff here
			el.innerHTML = "Already Vote"
		});	
		  document.getElementById('c'+ cid).innerHTML = parseInt(document.getElementById('c' + cid).innerHTML) + 1
		  
	   }
       
	</script>
<% end %>





<hr><hr><hr><hr><hr><hr><hr><hr>
<hr><hr><hr><hr><hr><hr><hr><hr>

<div id="propose_menu_bar">
	<div onclick="setscroll();community_button( );">
      커뮤니티
    </div>

   <div>
	  압력넣기
   </div>

   <div>
	   명예의전당
   </div>
</div>

<div id="rendered_place">
    
</div>

<div id="app">
	<p> {{ message }} </p>
	<p v-text="name" v-show="visible"></p>
</div>
    <script src="https://unpkg.com/vue@2.3.3"></script>
<script>

var app = new Vue({   
		 el: '#app',
         data: {     
			 message: '안녕하세요 Vue!',
			 name: 'Hello world',
			 visible: true 
         } 
})

</script>
<script>

function community_detail(){
   console.log("community_detail")   
}

function offscroll(){
   console.log("offscroll");
}

function setscroll(){
  console.log(window)
  window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        render_five_new();
    }else { console.log(window) }
  }; 
}
function community_button(){
   var but = new Promise(
        function(resolve, reject) {
            render_community_new( <%= @propose.id %> );
            window.setTimeout(
                function() {
                }, Math.random() * 2000 + 1000);
        }
    );
    but.then( () => { render_five_new(  ) } );
}
function render_five_new(){
   var pid = "<%= @propose.id %>"
   pid = parseInt(pid);
   pid = pid.toString();
   fetch( "<%= @base_url %>" + "/communities/" + pid, 
		   { method: "post", credentials: 'include' })
     .then(res => {
       res.json()
         .then(json => {
        console.log(json);
        var div = document.createElement("div");
        div.setAttribute("class", "community_list");
        var startpoint;
        rd = document.getElementById('rendered_place')
        if(document.getElementById('rendered_place').lastElementChild === null){
              startpoint = -1;
        }else{
              startpoint = document.getElementById('rendered_place').lastElementChild.id;
              if(document.getElementById('rendered_place').lastElementChild.id === "count"){ startpoint = -1; }
        }
        ii = 1
        for (i in json) {
          var kk = document.createElement('div');
          kk.setAttribute('id', i.toString());
          console.log(i);
          console.log(json[i]);
          if(ii > 1){ 
              break
          }
          if(i === "count"){  continue }
          if( parseInt(i) <= startpoint && startpoint != -1 ){  continue }else{ ii += 1;  }
          if (json[i] == "count") {
            continue;
          }
          kk.innerHTML =
            "<div id ='" + i.toString() +"' onclick='render_community_detail(" + i.toString() + ")' >"+ "<div class='tit'> title: " +json[i]["title"] +
            "</div>" +"<div> writer: " +json[i]["writername"] +
            "</div>" +"<div> heart: " +
            json[i]["heart"] +
            "</div></div>";
          document.getElementById('rendered_place').insertAdjacentElement("beforeend", kk);
        }
        return div;
      }).then(div => 
        {console.log("ㅅㅂ!!!") });})
        .then(() => {console.log("ㅠ.............");});
}

function render_post_new(){
	var wraper = document.createElement('div');
	wraper.setAttribute('id', 'new_post');

	var form = document.createElement('form'); 
	var pid = "<%= @propose.id %>";
    pid = parseInt(pid);
	form.setAttribute('enctype', 'multipart/form-data');
    form.setAttribute('action', '/community/create/' + pid.toString());
	form.setAttribute('accept-charset', 'UTF-8');
	form.setAttribute('data-remote', 'true')
	form.setAttribute('method', 'post');
    
    var input1 = document.createElement('input');
    input1.setAttribute('name', 'utf8');
    input1.setAttribute('type', 'hidden');
    input1.setAttribute('value', '✓');

	var input2 = document.createElement('input');
	input2.setAttribute('type', 'hidden');
	input2.setAttribute('value', '<%= rand(36**123).to_s(36) %>');

	var input3 = document.createElement('input');
	input3.setAttribute('type', 'text');
    input3.setAttribute('name', 'community_title');
	input3.setAttribute('id', 'community_title');
	input3.setAttribute('value', '');
	input3.setAttribute('placeholder', '커뮤니티 제목을 입력해주세요');
    
	var input4 = document.createElement('input');
	input4.setAttribute('type', 'text');
    input4.setAttribute('name', 'community_content');
	input4.setAttribute('id', 'community_content');
	input4.setAttribute('value', '');
	input4.setAttribute('placeholder', '커뮤니티 내용을 입력해주세요');
    
	var input5 = document.createElement('input');
	input5.setAttribute('type', 'file');
	input5.setAttribute('name', 'community_image');
	input5.setAttribute('id', 'community_image');
    input5.setAttribute('accept', 'image/png,image/gif,image/jpeg,image/PNG,image/jpg');
    
    var submit = document.createElement('input');
	submit.setAttribute('type', 'submit');
	submit.setAttribute('name', 'commit');
	submit.setAttribute('value', 'propose_create');
	submit.setAttribute('data-disable-with', 'propose_create');

    form.appendChild(input1);
	form.appendChild(input2);
    form.appendChild(input3);
	form.appendChild(input4);
	form.appendChild(input5);
	form.appendChild(submit);
    
	wraper.appendChild(form);
	document.getElementById('rendered_place').innerHTML = "";
	document.getElementById('rendered_place').appendChild(wraper);
}
function submit_cpost_form(){
   sleep
}

function render_community_new(){
	var wraper = document.createElement('div');
	wraper.setAttribute('id', 'new_commu');

	var form = document.createElement('form'); 
	var pid = "<%= @propose.id %>";
    pid = parseInt(pid);
	form.setAttribute('enctype', 'multipart/form-data');
    form.setAttribute('action', '/community/create/' + pid.toString());
	form.setAttribute('accept-charset', 'UTF-8');
	form.setAttribute('data-remote', 'true')
	form.setAttribute('method', 'post');
    
    var input1 = document.createElement('input');
    input1.setAttribute('name', 'utf8');
    input1.setAttribute('type', 'hidden');
    input1.setAttribute('value', '✓');

	var input2 = document.createElement('input');
	input2.setAttribute('type', 'hidden');
	input2.setAttribute('value', '<%= rand(36**123).to_s(36) %>');

	var input3 = document.createElement('input');
	input3.setAttribute('type', 'text');
    input3.setAttribute('name', 'community_title');
	input3.setAttribute('id', 'community_title');
	input3.setAttribute('value', '');
	input3.setAttribute('placeholder', '커뮤니티 제목을 입력해주세요');
    
	var input4 = document.createElement('input');
	input4.setAttribute('type', 'text');
    input4.setAttribute('name', 'community_content');
	input4.setAttribute('id', 'community_content');
	input4.setAttribute('value', '');
	input4.setAttribute('placeholder', '커뮤니티 내용을 입력해주세요');
    
	var input5 = document.createElement('input');
	input5.setAttribute('type', 'file');
	input5.setAttribute('name', 'community_image');
	input5.setAttribute('id', 'community_image');
    input5.setAttribute('accept', 'image/png,image/gif,image/jpeg,image/PNG,image/jpg');
    
    var submit = document.createElement('input');
	submit.setAttribute('type', 'submit');
	submit.setAttribute('name', 'commit');
	submit.setAttribute('value', 'propose_create');
	submit.setAttribute('data-disable-with', 'propose_create');

    form.appendChild(input1);
	form.appendChild(input2);
    form.appendChild(input3);
	form.appendChild(input4);
	form.appendChild(input5);
	form.appendChild(submit);
    
	wraper.appendChild(form);
	document.getElementById('rendered_place').innerHTML = "";
	document.getElementById('rendered_place').appendChild(wraper);
}

function render_community_detail(cid){
	fetch( "<%= @base_url %>" + "/api/community/" + cid, 
			{ method: "post", credentials: 'include' })
		.then( res => {  
			res.json()
				.then( json => {  
					window.onscroll = null;
					console.log(json);
					if(json['heart'] == -100){
						// not login user
						console.log('not login');
					    document.getElementById('rendered_place').innerHTML = 
								"<div id='cpost'><div> 커뮤니티 번호: " + json['detail']['id']
							  +"</div><div> 제목: " + json['detail']['title'] 
						      +"</div> <div> 작성자 : " + json['writername']
						      +"</div><div> <img src='" +json['detail']['image']['url'] + "'>"
							  +"</div><div >내용: " + json['detail']['content'] + "</div>"
							  + "<div onclick=''> 하트</div>"
							  +"<div onclick=''> 이전으로 돌아가기 </div>";
						document.gelElementById('rendered_place').innerHTML += 
					}else{
						// login user
						if(json['heart'] == 0){
							// 이미 하트를 누른 유저
						    document.getElementById('rendered_place').innerHTML = 
								"<div id='cpost'><div> 커뮤니티 번호: " + json['detail']['id']
							  +"</div><div> 제목: " + json['detail']['title'] 
						      +"</div> <div> 작성자 : " + json['writername']
						      +"</div><div> <img src='" +json['detail']['image']['url'] + "'>"
							  +"</div><div >내용: " + json['detail']['content'] + "</div>"
							  + "<div onclick=''> 하트 끄기 </div>"
							  +"<div onclick=''> 이전으로 돌아가기 </div>" 
							  +"<form enctype='form-data' name='cpost_form' onsubmit='submit_cpost_form();' action='/community/" + cid +"/post'" 
							  + "accept-charset='UTF-8' data-remote='true' method='post'>"
							  + "<input name='utf8' type='hidden' value='✓'>"
							  + "<input type='hidden' value='" + "<%= rand(36**123).to_s(36) %>'>"
							   + "<input type='text' name='cpost_content' id='cpost_content' value='' placeholder='댓글을 입력해주세요'>"
 							  + "<input type='submit' name='commit' value='cpost_create' data-disable-with='cpost_create'>"
							  + "</form></div>"
							 ;
						}else{
							// 아직 누르지 않은 유저
							  document.getElementById('rendered_place').innerHTML = 
						        "<div> 커뮤니티 번호: " + json['detail']['id']
						      + "<div> 제목: " + json['detail']['title'] 
						      + "</div> <div> 작성자 : " + json['writername']
						      + "</div><div> <img src='" +json['detail']['image']['url'] + "'>"
							  + "</div><div >내용: " + json['detail']['content'] + "</div>"
							  + "<div onclick=''> 하트 켜기 </div>"
							  + "<div onclick=''> 이전으로 돌아가기 </div>" 
							  + "<form enctype='form-data' name='cpost_form' onsubmit='submit_cpost_form()' action='/community/" + cid +"/post'" 
							  + "accept-charset='UTF-8' data-remote='true' method='post'>"
							  + "<input name='utf8' type='hidden' value='✓'>"
						      + "<input type='hidden' value='" + "<%= rand(36**123).to_s(36) %>'>"
							  + "<input type='text' name='cpost_content' id='cpost_content' value='' placeholder='댓글을 입력해주세요'>"
 							  + "<input type='submit' name='commit' value='cpost_create' data-disable-with='cpost_create' onclick=''>"
							  + "</form></div>"

							 ;
						}
					}
				});
		});
	
 }


</script>
<!-- 
<script src="detail_js.js.erb"> </script>
-->

<!-- 커뮤니티 목록 
<%# @result["community"]["objects"].each do |comu| %>
  <hr>
  커뮤니티 제목: <%#= comu.title %>
  커뮤니티 개설자: <%#= @result["community"][comu.id]["writer"].name %>
  커뮤니티 하트수: <%#= comu.heart %>
  <a href="/community/<%#= comu.id %>"> 커뮤니티로 이동 </a>

	<%# if @result["community"][comu.id]["current_vuser_heart"] == 0%> 
  <div class="chart_button"  onclick="chearton( <%#= comu.id %> , 1);" id="comu<%#= comu.id %>" >
	  <%#= link_to '하트 켜기', cheart_path( :id => comu.id ), method: :post, remote: true, id: "cheart_link#{# comu.id }" %>
  </div>
  <%# elsif @result["community"][comu.id]["current_vuser_heart"] > 0 %>
   <div class="chart_button"  onclick="chearton( <%#= comu.id %>, 0);" id="comu<%#= comu.id %>" >
	   <%#= link_to '하트 끄기', cheart_path( :id => comu.id ), method: :post, remote: true, id: "cheart_link#{# comu.id }"%>
   </div>
  <%# else %>
  하트를 누르려면 로그인
  <%# end %>
  -->
<!-- 
<script>
      function chearton(cid, option){
		  if ((document.getElementById('cheart_link'+ cid).innerHTML == "하트 끄기") == true){
                document.getElementById('cheart_link'+ cid).innerHTML = "하트 켜기"
		  }else{
             document.getElementById('cheart_link'+ cid).innerHTML = "하트 끄기"
		   }
	   }
</script>
-->
<!-- 댓글 목록 -->
<!--
<div id="comu_post_list<%#= comu.id %>">
  
   <%# @result["community"][comu.id]["post"]["objects"].each do |cpost|%>
   <div>   
	<hr>
    댓글 내용: <%#= cpost.content %> <br>
     댓글 작성자: <%#= @result["community"][comu.id]["post"][cpost.id]["writer"].name %>
   </div>  
 <%# end %>

</div>
-->
<!-- 댓글 달기 
<%# if current_vuser != nil %>
<%#= form_tag("/community/#{ @result["community"][comu.id]["object"].id }/post", method: "post", remote: true ) do %>
	
	<div class="cpost_content <%#= comu.id %>" >
		<%#= text_field_tag 'cpost_content', "", placeholder: "댓글 내용을 입력해주세요", id: "cpost_content#{# comu.id.to_s }" %>
	</div>

	<input name="authenticity_token" type="hidden" value="<%#= rand(36**123).to_s(36) %>">

	<div onClick="create_post('<%#= comu.id %>', '<%#= current_vuser.name %>' );">
		<%#= submit_tag("cpost_create") %>
	</div>
<%# end %>
<%# end %>

<%# end %>
-->
<!-- 댓글 js -->
<script>
   function create_post(cid, name){
	   cid = parseInt(cid);
	   cid = cid.toString();
	    document.getElementById('comu_post_list'+ cid).innerHTML += "<div> 댓글 내용: " + document.getElementById('cpost_content'+cid).value + "<br>" + "댓글 작성자: " + name + "</div>";
	    document.getElementById('cpost_content'+cid).value  = ""
   }
</script>
