제목: <%= @propose.title %>
<hr>
내용: <%= @propose.content %>
<hr>
대표이미지: <img src="<%= @propose.image %>">
<hr>
캠페인 이미지 : <img src="<%= @propose.campaign%>">
<hr>
굿즈 이미지: <img src="<%= @propose.goods %>">
<hr>
<a href="<%= @propose.bill_link %>"> 법안 원문 보러 가기 </a>
<hr>
<a href="<%= @propose.tumb %>"> 텀블벅 링크</a>
<hr>
캠페인 내용: <%= @propose.campaign_content %>
<hr>
상임위: <%= @propose.assos %>
<hr>
<hr>
<hr>
상임위 소속 의원들<br>
<hr>
<% @people.each do |person| %>
  <hr>
  <%= person.name %>
  <%= person.polynm %>
  <a href="/propose/<%= @propose.id %>/email_form/<%= person.id %>"> 이메일 보내기 </a>
<% end %>
