제목: <%= @propose.title %>
<hr>
내용: <%= @propose.content %>
<hr>
대표이미지: <img src="<%= @propose.image %>">
<hr>
캠페인 이미지 : <img src="<%= @propose.campaign%>">
<hr>
굿즈 이미지: <img src="<%= @propose.goods %>">
<hr>
<a href="<%= @propose.bill_link %>"> 법안 원문 보러 가기 </a>
<hr>
<a href="<%= @propose.tumb %>"> 텀블벅 링크</a>
<hr>
캠페인 내용: <%= @propose.campaign_content %>
<hr>
상임위: <%= @propose.assos %>
<hr>
<hr>
<hr>
상임위 소속 의원들<br>
<hr>
<% @people.each do |person| %>
  <hr>
  <%= person.name %><br>
  <%= person.polynm %><br>
  응답여부: <%= @people_res[person.id].response_type %><br>
  응답 메세지: <%= @people_res[person.id].response_text %><br>
  관심도(사람들이 메일 보낸 횟수): <%= @people_res[person.id].send_count %><br>

  <% if current_vuser != nil and current_vuser.email == "admin@2jung.com" %>
     (관리자만 보임)해당 의원이 여기 접속하면 찬성 표시됨: <a href="https://2jung.com/agree?<%= { :key => @people_res[person.id].agree_hash }.to_query %>"> https://2jung.com/agree?<%= { :key => @people_res[person.id].agree_hash }.to_query %> </a>
    <br>(관리자만 보임) 여기는 반대 표시: <a href="https://2jung.com/disagree?<%= { :key => @people_res[person.id].disagree_hash }.to_query %>"> https://2jung.com/disagree?<%= { :key => @people_res[person.id].disagree_hash }.to_query %> </a>
  <% end %>
  <hr>
  <hr>
  <a href="/propose/<%= @propose.id %>/email_form/<%= person.id %>"> 이메일 보내기 </a>
<% end %>
