<% status = @result["propose"]["object"].status %>
<% remain_time = ((@result["propose"]["object"].deadlines-Time.now)/86400+1).to_i%>
<!-- 펀딩 현황 -->
<% if ["펀딩진행중", "펀딩 마감 하루전", "펀딩 마감 이틀전"].include?(status)%>
<% elsif status == "매칭진행중" %>
<% elsif status == "입법진행중"%>
	<!-- <p> 매칭이 완료되어 입법 과정이 진행중입니다. </p>
	<p> 최종 매칭의원은:
	<% @result["seller"]["objects"].each do |seller| %>
	매칭의원이름:<%= @result["seller"][seller.id]["user_object"].name %>
	<% end%> </p>

	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p> -->
<% elsif status == "법안심사" %>
	<!-- <p> 법안 심사중입니다. </p>

	<% @result["seller"]["objects"].each do |seller| %>
 	  매칭의원이름:<%= @result["seller"][seller.id]["user_object"].name %>
	<% end%> </p>

	<p> 펀딩 총 금액(약정된 총 금액): <%= @result["propose"]["object"].funded_money%><p>
	<p> 펀딩에 참여한 총 인원: <%= @result["propose"]["object"].funded_num %> </p> -->
<% end %>

<!-- 의원용 로직 -->
<% if current_vuser != nil and current_vuser.category == "국회의원" and status == "매칭진행중" %>
	<p>후보자 등록하기</p>
	<a href="/candidate/new/<%= @result["propose"]["object"].id %>"> 후보자 등록 페이지 이동 </a>
<% end %>

<!-- 후보자 정보 및 투표 -->
<% if status == "매칭진행중" %>
	<% num = 1%>
	<% @result["candidate"]["objects"].each do |candidate| %>
		<hr>
		<p>후보자 번호: <%= num %></p>
		<% num += 1 %>
		<p>후보자 이름: <%= @result["candidate"][candidate.id]["user_object"].name %> </p>
		<p>후보자 득표수: <div id="c<%= candidate.id%>"><%= candidate.vote_num %></div> </p>
		<div> 후보자 정보 및 소개 </div><br>
		<p> 후보자 한줄소개: <%= candidate.intro %> </p>
		<% if @result["current_vuser_vote_candidate_id"] == -1  %>
			<div class="vote_button"  onclick="vote( <%= candidate.id %> );">
				<%= link_to 'Vote', vote_create_path( :id => candidate.id ), method: :post, remote: true%>
			</div>
		<% elsif @result["current_vuser_vote_candidate_id"] == -100 %>
			로그인 하시면 투표하실수있습니다.
		<% elsif @result["current_vuser_vote_candidate_id"] == candidate.id %>
			내가 투표한 의원 입니다.
		<% elsif  @result["current_vuser_vote_candidate_id"] > 0  %>
            Already Vote
		<% end %>
	<% end %>

<% end %>



<!-- Funding Detail Cover Desktop-->
<section id="detail_cover" class="funding_detail_cover d-flex flex-column justify-content-around align-items-center visible-lg" style="background-image: url( <%= @result['image']%> );">
	<h2 class="detail_title text-white font-20 font-sm-18 font-weight-bold "><%= @result["propose"]["object"].title %></h2>
	<p class="detail_category text-white font-sm-12 font-weight-bold"><%= @result["propose"]["object"].bg_category_name %></p>
	<% if ["펀딩진행중", "펀딩 마감 하루전", "펀딩 마감 이틀전"].include?(status)%>
		<%=image_tag("/assets/images/group-4-1.png", class: "detail_img")%>
	<% elsif status == "매칭진행중" %>
		<%=image_tag("/assets/images/group-4-2.png", class: "detail_img")%>
	<% elsif status == "입법진행중"%>
		<%=image_tag("/assets/images/group-4-3.png", class: "detail_img")%>
	<% elsif status == "법안심사" %>
		<%=image_tag("/assets/images/group-4-4.png", class: "detail_img")%>
	<% end %>
	<div class="detail_info d-flex w-100 px-3 px-lg-5 justify-content-between">
		<p class="text-white font-14 font-sm-10 font-weight-bold">남은 기간 <span class="font-20 font-sm-16 font-weight-bold"><%=remain_time%></span>일</p>
		<p class="text-white font-20 font-sm-16 font-weight-bold detail_money"><%= @result["propose"]["object"].funded_money%></p>
		<p class="text-white font-14 font-sm-10 font-weight-bold"><span class="font-20 font-sm-16 font-weight-bold"><%= @result["propose"]["object"].funded_num %></span>명</p>
	</div>
</section>
<!-- //Funding Detail Cover Desktop-->
<!-- Funding Detail Cover Mobile -->
<section id="detail_mobile_cover" class="detail_mobile_cover visible-xs-block" style="background-image: url(<%=@result['image']%>);">
	<h2 class="detail_title font-sm-18 font-weight-bold text-white px-3 py-3"><%= @result["propose"]["object"].title %></h2>
	<p class="detail_day text-right pr-3 mb-0 font-12 text-white font-weight-bold"><span class="font-18"><%=remain_time%></span>일 남음</p>
	<p class="detail_number text-right pr-3 mb-0 font-12 text-white font-weight-bold"><span class="font-18"><%= @result["propose"]["object"].funded_num %></span>명</p>
	<div class="d-flex justify-content-between">
		<p class="detail_category font-weight-bold text-white font-10 pl-3 mt-2">  <%= @result["propose"]["object"].bg_category_name %> </p>
		<p id="fund_money" class="detail_money font-weight-bold text-white font-18 pr-3">&#8361;<%= @result["propose"]["object"].funded_money%></p>
	</div>
</section>
<!-- //Funding Detail Cover Mobile -->
	<!-- Funding Detail Content -->
	<section class="funding_detail_content py-4 d-flex flex-column justify-content-center align-items-center">
		<% if ["펀딩진행중", "펀딩 마감 하루전", "펀딩 마감 이틀전"].include?(status)%>
			<%=image_tag("/assets/images/group_mobile_1.png", class: "visible-xs w-100")%>
		<% elsif status == "매칭진행중" %>
			<%=image_tag("/assets/images/group_mobile_2.png", class: "visible-xs w-100")%>
		<% elsif status == "입법진행중"%>
			<%=image_tag("/assets/images/group_mobile_3.png", class: "visible-xs w-100")%>
		<% elsif status == "법안심사" %>
			<%=image_tag("/assets/images/group_mobile_4.png", class: "visible-xs w-100")%>
		<% end %>
		<p class="detail_content pt-4 pt-lg-0 pb-3 pb-lg-5 font-grey font-sm-12"><%= @result["propose"]["object"].content %></p>
		<div class="buttons d-flex w-100 justify-content-around px-4 px-lg-0">
			<!-- 약정하기 버튼-->
			<% if status.include? "펀딩" and current_vuser != nil %>
				<%= form_tag("/contract/new/#{ @result["propose"]["object"].id }", method: "get", class:"w-sm-100") do %>
					<%= submit_tag("펀딩약정서 쓰기", :class => "btn btn-white font-14 font-sm-10 w-sm-70") %>
				<% end %>
				<div>
		    	<% if current_vuser != nil and current_vuser.id == @writer.id %>
		    	<iframe src="https://www.facebook.com/plugins/share_button.php?href=https://2jung.com%2fproposet%2f<%= params[:id]%>&layout=button_count&size=large&mobile_iframe=true&appid=1014670008686658&width=113&height=28" width="113" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		    	<% end %>
		    </div>
			<% elsif current_vuser == nil %>
				<a href="/vusers/sign_in" class="btn btn-white font-14 font-sm-10">로그인하기</a>
			<% end %>

			<!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#"</a>
				<a class="dropdown-item" href="#">Kakao</a>
			</div> -->
		</div>
	</section>
	<!-- //Funding Detail Content -->
	<!-- Detail Community -->
	<section class="detail_menu pb-5">
		<nav class="nav justify-content-around border-bottom px-3 px-lg-5 mb-3 mb-lg-5">
			<% if params["option"] == "push" %>
			<a class="nav-link py-4 font-sm-12" href="/propose/<%= @result["propose"]["object"].id %>">커뮤니티</a>
			<a class="nav-link py-4 font-sm-12 active font-weight-bold" href="/propose/<%= @result["propose"]["object"].id%>?option=push">압력넣기</a>
			<a class="nav-link py-4 font-sm-12" href="/propose/<%= @result["propose"]["object"].id%>?option=best">명예의전당</a>
			<% elsif params["option"] == "best"%>
			<a class="nav-link py-4 font-sm-12" href="/propose/<%= @result["propose"]["object"].id %>">커뮤니티</a>
			<a class="nav-link py-4 font-sm-12" href="/propose/<%= @result["propose"]["object"].id%>?option=push">압력넣기</a>
			<a class="nav-link py-4 font-sm-12 active font-weight-bold" href="/propose/<%= @result["propose"]["object"].id%>?option=best">명예의전당</a>
			<%else%>
			<a class="nav-link py-4 font-sm-12 active font-weight-bold" href="/propose/<%= @result["propose"]["object"].id %>">커뮤니티</a>
			<a class="nav-link py-4 font-sm-12" href="/propose/<%= @result["propose"]["object"].id%>?option=push">압력넣기</a>
			<a class="nav-link py-4 font-sm-12" href="/propose/<%= @result["propose"]["object"].id%>?option=best">명예의전당</a>
			<%end%>
		</nav>
		<% if params["option"] != "push" and params["option"] != "best"%>
		<% if current_vuser != nil %>
		  <%= form_tag("/community/create/#{ @result["propose"]["object"].id }", method: "post", multipart: true, class:"w-100" ) do %>
				<div class="form-group">
					<%= label_tag 'exampleFormControlInput1', '제목', class: "font-sm-10"%>
					<%= text_field_tag 'community_title', "" , class: "form-control font-sm-10", id: "exampleFormControlInput1", placeholder: "20자 이내로 제목을 써주세요." %>
				</div>
				<div class="form-group">
					<%= label_tag 'exampleFormControlTextarea1', '내용', class: "font-sm-10"%>
					<%= text_area_tag 'community_content', "" , class: "form-control", rows: 10 %>
				</div>
				<label for="inputGroupFile02" class="font-sm-10">사진 업로드</label><br />
				<div class="input-group mb-4 mb-lg-5">
					<div class="custom-file">
						<%= file_field_tag('community_image', class: "custom-file-input font-sm-10", id: "inputGroupFile02", onchange: "filename_change(this)", accept: "image/png,image/gif,image/jpeg,image/PNG,image/jpg") %>
						<label id="image_label" class="custom-file-label font-sm-10" for="inputGroupFile02">사진을 업로드해주세요.</label>
					</div>
				</div>
				<%= submit_tag("글쓰기", class: "btn btn-primary font-sm-12") %>
		 	<% end %>
		  <% end %>
		 <% end%>
		 <!-- 압력 넣기 -->

	 <% if params["option"] == "push" %>
	 <h4 class="push_title text-center mb-3 mb-lg-4 font-14 font-sm-10 font-weight-bold text-primary">해당 입법 주제 담당 국회 내 상임위원회</h4>
	 <% @result["pusher"].each do |push|%>
      <p class="push_tel text-center font-14 font-sm-10 font-weight-bold text-primary"><%= push["name"] %></p>
			<p class="push_tel text-center font-14 font-sm-10 font-weight-bold text-primary"><%= push["boss"].name %>(위원장)</p>
			<p class="push_tel text-center font-14 font-sm-10 font-weight-bold text-primary">(<%= push["boss"].polynm %>)</p>
			<p class="push_tel text-center font-14 font-sm-10 font-weight-bold text-primary"><%= push["boss"].tel %></p>
			<p class="push_tel text-center font-14 font-sm-10 font-weight-bold text-primary">
			<% if push["boss"].email != "x"%> <%= push["boss"].email %> <% else %> <%= push["boss"].emaill%><%end%></p>
      <div class="container pt-4 pt-lg-0">
        <div class="row">
					<% push["people"].each do |person|%>
          <div class="col-12 col-lg-4 pb-5 text-center font-grey font-14">
            <p class="lawmaker_name"><%= person.name %></p>
            <p class="lawmaker_party">(<%= person.polynm %>)</p>
            <p class="lawmaker_tel"><%= person.tel %></p>
            <p class="lawmaker_email">
						<% if person.email != "x"%> <%= person.email %> <% else %> <%= person.emaill%><%end%></p>
          </div>
					<% end %>
        </div>
      </div>
	 <% end %>

		 <% elsif params["option"] == "best"%>
			<!-- 명예의 전당 -->
			<p class="font-14 font-sm-10 font-grey text-center">이  입법을 추진시키기 위해, 큰 공헌을 한 10명의 시민분들입니다.</p>
			<div class="container">

			<% @result["contributors"].each do |contr|%>
			    <% if @result["contributors"] == [ ] %>
				   <% break %>
				<% end %>

				<%if contr["rank"] == 1%>
					<div class="row">
						<div class="col-12 font-grey text-center mb-4">
							<p class="nickname font-14 font-sm-12 mb-lg-1"><%= contr["user"].name %>
								<%=image_tag('/assets/images/crown.png', class: "crown2")%></p>
							<p class="font-24 font-sm-20 mb-lg-0"><%= contr["point"] + contr["contract"] %></p>
							<p class="font-12 font-sm-10"><%= contr["contract"] %> + <%= contr["point"]%></p>
						</div>
					</div>
				<%else%>
					<div class="row">
						<div class="col-6 col-lg-4 font-grey text-center mb-4">
							<p class="nickname font-14 mb-lg-1"><%= contr["user"].name %>
								<%=image_tag('/assets/images/crown.png', class: "crown2")%></p>
                            <p class="font-24 font-sm-20 mb-lg-0"><%= contr["point"] + contr["contract"] %></p>
							<p class="font-12 font-sm-10"><%= contr["contract"] %> + <%= contr["point"]%></p>
						</div>
					</div>
				<%end%>
			<%end%>
			</div>
	 <% else %>
	 <%end%>
	</section>
	<!-- //Detail Commnnity -->
	<div id="test"></div>
	<!-- Detail Posts -->
	<% if params["option"] != "push" and params["option"] != "best"%>
	<% if current_vuser != nil %>
	<section class="detail_posts">
		<ul class="nav align-items-end h-100 justify-content-end pb-3 visible-lg">
			<li class="nav-item px-0 py-0">
				<a class="nav-link active font-weight-bold font-14" href="#">인기순</a>
			</li>
			<li class="nav-item px-0 py-0">
				<a class="nav-link font-14" href="#">최신순</a>
			</li>
		</ul>
		<div class="table-responsive visible-lg">
			<table class="table text-center">
				<thead>
					<tr>
						<th scope="col" class="border-top-0 font-14 font-grey">글 제목</th>
						<th scope="col" class="border-top-0 font-14 font-grey">글쓴이</th>
						<th scope="col" class="border-top-0 font-14 font-grey">하트</th>
					</tr>
				</thead>
				<tbody class="font-14 font-grey">
					<% @result["community"]["objects"].each do |comu| %>
						<tr class="hover_green" onclick="window.location='/community/<%=comu.id%>'">
							<td><%= comu.title %></td>
							<td><%= @result["community"][comu.id]["writer"].name %></td>
							<td><%= comu.heart %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<!-- Mobile Posts -->
		<div class="table_mobile visible-xs-block">
			<% @result["community"]["objects"].each do |comu| %>
				<a href='/community/<%=comu.id%>' class="decoration-none">
					<div class="border-bottom font-grey mt-2">
						<p class="mobile_title font-sm-10 mb-2"><%= comu.title %></p>
						<p class="font-sm-10"><%= @result["community"][comu.id]["writer"].name %> / <%= comu.heart %>공감</p>
					</div>
				</a>
			<% end %>
		</div>
	</section>
	<%end%>
	<%end%>

	<!-- Detail Posts -->
<!-- Layer -->
<script type="text/javascript">
	var proposeNum=$(location)[0].href.split("/")[4]%6
	if (proposeNum ==1){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(<%= @result["image"] %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(<%= @result["image"] %>)');
	}
	else if (proposeNum == 2){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(<%= @result["image"] %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(<%= @result["image"] %>)');
	}
	else if (proposeNum == 3){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(<%= @result["image"] %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(<%= @result["image"] %>)');
	}
	else if (proposeNum == 4){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(<%= @result["image"] %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(<%= @result["image"] %>)');
	}
	else if (proposeNum == 5){
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(<%= @result["image"] %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(<%= @result["image"] %>)');
	}
	else{
		$("#detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(<%= @result["image"] %>)');
		$("#detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(<%= @result["image"] %>)');
	}
</script>
<!-- //Layer -->
<!-- Comma -->
<script>
	function comma(str) {
	    str = String(str);
	    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}
	var money=$(".detail_money")[0].innerHTML;
	var newMoney=comma(money);
	$(".detail_money").html('&#8361;'+newMoney);
</script>
<!-- 사진파일명 업로드 -->
<script>
	function filename_change(obj){
		var file_name=obj.files[0].name;
		document.getElementById('image_label').innerHTML=file_name;
	}
</script>
