메일 테스트중!
<hr>
대표 이미지: <%= @propose.image %>
<hr>
의원 이름: <%= @person.name %>
<hr>
의원 메일: <%= @person.email %>
<hr>
응답 상태: <%= @person_res.response_type %>
<hr>
응답 내용: <%= @person_res.response_text %>
<hr>
메일 보낸 사람 수: <%= @person_res.send_count %>
<hr>
<form class="propose_form w-100 font-sm-10" enctype="multipart/form-data" action="/propose/<%= @propose.id %>/email_send/<%= @person.id %>" accept-charset="UTF-8" method="get">
    <input type="text" name="user_email" placeholder="이메일을 보내는 사람">
     <input type="text" name="person_email" placeholder="이메일을 받는 사람">
     <input type="text" name="title" placeholder="보내는 메일 제목">
     <input type="text" name="content" placeholder="보내는 메일 내용">
     <input type="submit">
</form>