<!-- Funding Detail Cover Desktop-->
<section class="funding_detail_cover d-flex flex-column justify-content-between align-items-center visible-lg"
style="background-image: url(<%= @propose.image %>);">
  <div class="brand pl-lg-4 pt-lg-4 visible-lg">
    <a class="navbar-brand py-0 mr-0" href="/">
      <%=image_tag("/assets/images/tojung_white.png", class:"logo")%>
    </a>
  </div>
  <div class="detail_post">
    <h2 class="detail_title text-white font-20 font-sm-18 font-weight-bold pb-lg-3"><%= @propose.title %></h2>
    <p class="detail_category text-white font-sm-12 font-weight-bold text-center"></p>
  </div>
  <div class="detail_info w-100">
    <p class="text-white font-20 font-sm-16 font-weight-bold text-center">\<%=@propose.funded_money%></p>
    <p class="text-white font-20 font-sm-16 font-weight-bold detail_num"><%=@propose.funded_num%><span>명</span></p>
  </div>
</section>
<!-- //Funding Detail Cover Desktop-->

<!-- Funding Detail Cover Mobile -->
<section class="detail_mobile_cover visible-xs-block" style="background-image: url(<%= @propose.image %>);">
  <h2 class="detail_title font-sm-18 font-weight-bold text-white px-3 py-3"><%= @propose.title %></h2>
  <div class="detail_infos pt-4">
    <p class="detail_number text-right pr-3 mb-0 font-12 text-white font-weight-bold"><span class="font-18"><%=@propose.funded_num%></span>명</p>
    <div class="d-flex justify-content-between">
      <p class="detail_category font-weight-bold text-white font-10 pl-3 mt-2 mb-0"></p>
      <p class="detail_money font-weight-bold text-white font-18 pr-3 mb-0">&#8361;<%=@propose.funded_money%></p>
    </div>
  </div>
</section>
<!-- //Funding Detail Cover Mobile -->

<!-- Maker Profile -->
<section class="maker_profile mb-lg-5 text-center font-grey">
  <h4 class="font-18 font-sm-10 font-weight-bold my-4 my-md-5"><%= @person.name %> 의원에게 답변을 촉구합니다.</h4>
  <p class="font-14 font-sm-10 mb-5" style="white-space: pre-line"><%= @person_detail.desc1 %></p>
  <img src="https://s3.ap-northeast-2.amazonaws.com/tojung2018/person_image/<%= @person_detail.num%>_1.jpg">
  <!-- 의원 이력  + 이미지 -->

</section>
<!-- //Maker Profile -->

<!-- Email Form -->
<section class="email_form">
  <form class="propose_form w-100 font-sm-10" enctype="multipart/form-data" action="/propose/<%= @propose.id %>/email_send/<%= @person.id %>" accept-charset="UTF-8" method="get">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
    <div class="form-group">
      <input type="email" class="form-control" name="user_email" placeholder="내 이메일 주소">
    </div>
    <div class="form-group">
      <input type="text" name="content" class="form-control" value="제목">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="content" rows="10" placeholder="메일 내용"></textarea>
    </div>
    <button type="submit" class="btn btn-email btn-white mt-3 mt-lg-4 font-sm-12">이메일 보내기</button>
  </form>
</section>
<!-- //Email Form -->

<!-- 메일 테스트중!
<hr>
대표 이미지: <%#= @propose.image %>
<hr>
의원 이름: <%#= @person.name %>
<hr>
의원 메일: <%#= @person.email %>
<hr>
응답 상태: <%#= @person_res.response_type %>
<hr>
응답 내용: <%#= @person_res.response_text %>
<hr>
메일 보낸 사람 수: <%#= @person_res.send_count %>
<hr>
<form class="propose_form w-100 font-sm-10" enctype="multipart/form-data" action="/propose/<%= @propose.id %>/email_send/<%= @person.id %>" accept-charset="UTF-8" method="get">
    <input type="text" name="user_email" placeholder="이메일을 보내는 사람">
     <input type="text" name="person_email" placeholder="이메일을 받는 사람">
     <input type="text" name="title" placeholder="보내는 메일 제목">
     <input type="text" name="content" placeholder="보내는 메일 내용">
     <input type="submit">
</form> -->

<!-- Layer -->
<script type="text/javascript">
  var num = <%=@propose.id%>
  if (num ==1){
		$(".funding_detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(<%= @propose.image %>)');
		$(".detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(<%= @propose.image %>)');
	}
  else if (num == 2){
    $(".funding_detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(<%= @propose.image %>)');
    $(".detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(<%= @propose.image %>)');
  }
  else if (num == 3){
    $(".funding_detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(<%= @propose.image %>)');
    $(".detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(<%= @propose.image %>)');
  }
  else if (num == 4){
    $(".funding_detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(<%= @propose.image %>)');
    $(".detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(<%= @propose.image %>)');
  }
  else if (num == 5){
    $(".funding_detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(<%= @propose.image %>)');
    $(".detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(<%= @propose.image %>)');
  }
  else{
    $(".funding_detail_cover").css('background-image', 'linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(<%= @propose.image %>)');
    $(".detail_mobile_cover").css('background-image', 'linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(<%= @propose.image %>)');
  }
</script>
