<!-- SEARCH-->
<section class="search d-flex flex-column justify-content-between align-items-center mb-4 mb-lg-5">
	<nav class="navbar navbar-light bg-light w-100">
		<%= form_tag("/search", method: "get", class:"search_form w-100") do %>
			<%=image_tag("/assets/images/icon_search.png", class: "icon_search")%>
			<%= search_field_tag 'keyword', "" , class: "form-control mr-sm-2 search_bar", placeholder: "검색" %>
		<% end %>
	</nav>
</section>
<!-- //SEARCH-->
<% if @proposes.count == 0 %>
   <p class="text-center text-primary font-weight-bold font-20">검색 결과를 찾을 수 없습니다</p>
<% end %>
<!-- List -->
<section class="funding_list">
  <div class="container">
    <div class="row">
			<% @proposes.each do |propose| %>
	      <div id="funding_card" class="col-12 col-lg-6 px-0 funding_card_box" style="background-image: url(<%= propose.image.url %>)">
	        <div class="funding_card d-flex flex-column h-100 w-100">
	          <a href="/propose/<%= propose.id %>">
	            <h4 class="funding_title text-white"><%= propose.title %></h4>
	            <div class="funding_card_info h-100">
								<p class="funding_days text-white text-right"><%= propose.status %></p>
								<% if (propose.status == "펀딩진행중" or propose.status == "펀딩 마감 하루전" or propose.status == "펀딩 마감 이틀전") and propose.deadlines != nil %>
              	<p class="funding_days text-white text-right">
									<span class="funding_d_day text-white"><%= ((propose.deadlines - Time.now)/(60*60*24) + 1).to_i %></span>일 남음
								</p>
								<% end %>
	              <p class="funding_money text-white text-right">&#8361;<%= propose.funded_money %></p>
	            </div>
	          </a>
	        </div>
	      </div>
			<% end %>
    </div>
  </div>
</section>
<!--//List  -->
