<!DOCTYPE html>
<html>
   <head>
       <title>TojungPageRails</title>
       <%= csrf_meta_tags %>

       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
	   <h1>test </h1>
      <%= render 'layouts/menu' %>
	  <% if notice %>
		    <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
		  <% end %>
	  <%= yield %>
<!-- Channel Plugin Scripts -->
<script>
  /*window.fbAsyncInit = function() {
    FB.init({
      appId      : '1014670008686658',
      xfbml      : true,
      version    : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
*/
window.channelPluginSettings = {
	  //"pluginKey": "6abc6af7-61c1-4302-8909-60e9bd0736b7"
	  "pluginKey": "c41b6775-e43d-4cae-888e-8616e0c23cfe"
  };
  (function() {
    var node = document.createElement('div');
    node.id = 'ch-plugin';
    document.body.appendChild(node);
    var async_load = function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    };
    if (window.attachEvent) {
      window.attachEvent('onload', async_load);
    } else {
      window.addEventListener('DOMContentLoaded', async_load, false);
    }
  })();
</script>
<!-- End Channel Plugin -->

   </body>
</html>
