<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>입법안 크라우드펀딩 플랫폼, 투정</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="tojung" />
    <meta property="og:type" content="website" />
    <meta property="og:url"           content="https://2jung.com<%= request.fullpath %>" />
    <meta property="og:description"   content="투정 사이트 입니다. " />
    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    <title>입법안 크라우드펀딩 플랫폼, 투정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%=render 'layouts/menu'%>
    <% if notice %>
      <p class="alert alert-success" id="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" id="notice"><%= alert %></p>
    <% end %>

    <%= yield %>

    <!-- Channel Plugin Scripts -->
    <script>
      window.channelPluginSettings = {
        //"pluginKey": "6abc6af7-61c1-4302-8909-60e9bd0736b7"
        "pluginKey": "c41b6775-e43d-4cae-888e-8616e0c23cfe"
      };
      (function () {
        var node = document.createElement('div');
        node.id = 'ch-plugin';
        document.body.appendChild(node);
        var async_load = function () {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
          s.charset = 'UTF-8';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        };
        if (window.attachEvent) {
          window.attachEvent('onload', async_load);
        } else {
          window.addEventListener('DOMContentLoaded', async_load, false);
        }
      })();
    </script>
    <!-- End Channel Plugin -->

    <!-- Alert -->
    <script type='text/javascript'>
      $('#alert').fadeOut(10000);
    </script>
    <!-- // Alert -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
