<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114503665-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114503665-1');
    </script>
    <!-- Naver 웹마스터도구 -->
     <meta name="naver-site-verification" content="360ca5343fca7189a0ba8caee9f8db6d01b6b65a"/>

    <title>투정, 국회 입법 크라우드펀딩 서비스</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="tojung" />
    <meta property="og:type" content="website" />
    <meta property="og:url"           content="https://2jung.com<%= request.fullpath %>" />
    <meta property="og:description"   content="투정, 국회 입법 크라우드펀딩 플랫폼" />
    <%= render 'application/favicon' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <title>입법안 크라우드펀딩 플랫폼, 투정</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- FontAWesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  </head>

  <body>
    <%= render 'layouts/menu'%>
    <!-- Mobile Header -->

    <% if notice %>
      <p class="alert alert-success" id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" id="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <!-- Channel Plugin Scripts -->
    <script>
      window.channelPluginSettings = {
        //"pluginKey": "6abc6af7-61c1-4302-8909-60e9bd0736b7"
        "pluginKey": "c41b6775-e43d-4cae-888e-8616e0c23cfe"
      };
      (function () {
        var node = document.createElement('div');
        node.id = 'ch-plugin';
        document.body.appendChild(node);
        var async_load = function () {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
          s.charset = 'UTF-8';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        };
        if (window.attachEvent) {
          window.attachEvent('onload', async_load);
        } else {
          window.addEventListener('DOMContentLoaded', async_load, false);
        }
      })();
    </script>
    <!-- End Channel Plugin -->

    <!-- Alert -->
    <script type='text/javascript'>
      $(document).ready(function(){
        $('#alert').fadeOut(6000);
        $('#notice').fadeOut(6000);
      });
    </script>
    <!-- // Alert -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>
